body{
    background-color: greenyellow;
}

.overlay{
    border-radius: 25px;
    background-color: aquamarine;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
.submit{
    margin: 5px 5px 5px 5px;
}