*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}
/*Navigation section*/
#hero{
    position: relative;
    width: 100%;
    height: 100vh;
}

nav{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    background: crimson;
}

nav h2{
    cursor: pointer;
    font-style: italic;
    padding-left: 20px;
    color: white;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

nav ul li a:hover{
    color: brown;
}

/*End section*/

/*Welcome section*/
#detail{
    background: antiquewhite;
    width: 100%;
    height: 100vh;
}

h1{
    font-size: 30px;
    color: white;
    padding: 15px;
}

h2{
    font-size: 1.8rem;
}

p{
    font-size: 20px;
    color: crimson;
}

.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

/*End section*/

/*About section*/
#about, .para{
    width: 100%;
    background: #303841;
    color: white;
}

.listting{
    padding-left: 50px;
}

.intro{
    font-size: 30px;
    text-align: center;
    padding: 15px 20px;
    text-decoration: underline;
}

.heading{
    padding: 15px 20px;
    font-style: italic;
    text-decoration: underline;
}

/*End section*/ 

/*Projects section*/
#project-section{
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    text-align: center;
}

.picture img{
    border: 1px solid black;
    height: auto;
    width: 10%;
    float: left;
    width:  300px;
    height: 300px;
    background-size: cover;
  }
/*End section*/

/*Contact section
.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: #303841;
}

.contact-section-header > h2 {
    font-size: 6rem;
  }

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
/*End section