body{
    margin: 0;
    background-color: gray;
    font-family: Arial;
    font-weight: 200;
    font-size: 16px;
    line-height: 1;
}

.container{
    text-align: center;
    background-color: rgb(206, 206, 206);
    width: 80%;
    margin: 20px auto;
    height: 100%;
    padding: 10px 10px;
}

.form-group{
    padding: 10px 20px;
}