*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

main{
    background-color:antiquewhite;
}

footer{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(88, 88, 88);
    padding: 1.5rem;
}

.sources{
    margin: 0.5rem;
}

img{
    width: 80%;
    padding: 0.5rem 0.5rem;
    max-width: 100%;
    height: auto;
    justify-content: center;
}

#img-caption{
    padding: 0.5rem;
}

#tribute-info{
    display: flex;
    flex-direction: column;
}
  
#img-div{
    background-color: bisque;
    text-align: center;
    font-size: 20px;
    color: rgba(88, 88, 88, 0.692);
    font-style: italic;
}

h2, h3{
    font-size: 30px;
    margin: 0.5rem auto;
    text-align: center;
    text-decoration: underline;
}

p{
    font-size: 20px;
    line-height: 20px;
    margin: 0.5rem;
}

li{
    font-size: 16px;
    line-height: 25px;
    font-weight: bolder;
}

ol{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

ul{
    margin: 0.5rem;
}